<!DOCTYPE html>
<html lang="ja" ng-app="mobamasDojo" ng-controller="MainController" ng-init="init()">
<head>
  <meta charset="UTF-8">
  <title>モバマス道場リスト(スマホ用)</title>
  <link rel="apple-touch-icon" href="//saasan.github.io/mobamas-dojo/img/s2works_favicon.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mobamas-dojo.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="js/mobamas-dojo.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <noscript>
    <p>JavaScriptを有効にして下さい。</p>
  </noscript>

  <section id="ad">
    <!-- 道場リスト 320x50 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:50px"
         data-ad-client="ca-pub-0141905477316976"
         data-ad-slot="1779793778"></ins>

    <!-- 道場リスト 300x250 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-0141905477316976"
         data-ad-slot="3256526972"></ins>
  </section>

  <p>status: {{ status }}</p>
  <p>最終更新日時: {{ lastUpdate }}</p>
  <p>道場数: {{ dojos.length }}</p>

  <section>
    <label>
      一度に表示する道場数: 最大
      <select ng-model="$storage.view.limitTo">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
        <option value="70">70</option>
        <option value="80">80</option>
        <option value="90">90</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
      </select>
      件
    </label>
  </section>
  <section>
    <label>
      表示順: 
      <select ng-model="$storage.view.orderBy">
        <option value="0">ランク順</option>
        <option value="1">レベル順</option>
      </select>
    </label>
  </section>
  <section>
    ランク:
    <select ng-model="$storage.view.rankRange.min">
      <option value="10">S5</option>
      <option value="9">S4</option>
      <option value="8">S3</option>
      <option value="7">SS</option>
      <option value="6">S</option>
      <option value="5">A</option>
      <option value="4">B</option>
      <option value="3">C</option>
      <option value="2">D</option>
      <option value="1">E</option>
      <option value="0">無制限</option>
    </select>
    ～
    <select ng-model="$storage.view.rankRange.max">
      <option value="-1">無制限</option>
      <option value="10">S5</option>
      <option value="9">S4</option>
      <option value="8">S3</option>
      <option value="7">SS</option>
      <option value="6">S</option>
      <option value="5">A</option>
      <option value="4">B</option>
      <option value="3">C</option>
      <option value="2">D</option>
      <option value="1">E</option>
      <option value="0">F</option>
    </select>
  </section>
  <section>
    レベル:
    <select ng-model="$storage.view.levelRange.min">
      <option value="350">350</option>
      <option value="300">300</option>
      <option value="250">250</option>
      <option value="200">200</option>
      <option value="150">150</option>
      <option value="100">100</option>
      <option value="50">50</option>
      <option value="0">無制限</option>
    </select>
    ～
    <select ng-model="$storage.view.levelRange.max">
      <option value="-1">無制限</option>
      <option value="350">350</option>
      <option value="300">300</option>
      <option value="250">250</option>
      <option value="200">200</option>
      <option value="150">150</option>
      <option value="100">100</option>
      <option value="50">50</option>
      <option value="0">0</option>
    </select>
  </section>
  <section>
    守発揮値:
    <select ng-model="$storage.view.defenseRange.min">
      <option value="15000">15000</option>
      <option value="14000">14000</option>
      <option value="13000">13000</option>
      <option value="12000">12000</option>
      <option value="11000">11000</option>
      <option value="10000">10000</option>
      <option value="9000">9000</option>
      <option value="8000">8000</option>
      <option value="7000">7000</option>
      <option value="6000">6000</option>
      <option value="5000">5000</option>
      <option value="4000">4000</option>
      <option value="3000">3000</option>
      <option value="2000">2000</option>
      <option value="1000">1000</option>
      <option value="0">無制限</option>
    </select>
    ～
    <select ng-model="$storage.view.defenseRange.max">
      <option value="-1">無制限</option>
      <option value="15000">15000</option>
      <option value="14000">14000</option>
      <option value="13000">13000</option>
      <option value="12000">12000</option>
      <option value="11000">11000</option>
      <option value="10000">10000</option>
      <option value="9000">9000</option>
      <option value="8000">8000</option>
      <option value="7000">7000</option>
      <option value="6000">6000</option>
      <option value="5000">5000</option>
      <option value="4000">4000</option>
      <option value="3000">3000</option>
      <option value="2000">2000</option>
      <option value="1000">1000</option>
    </select>
  </section>

  <section id="dojos">
    <div class="dojo" ng-class="{ error: dojo.visited > 0 }" ng-repeat="dojo in dojos | orderBy: ORDER_BY[$storage.view.orderBy] | filter: dojoFilter | limitTo : $storage.view.limitTo">
      <a ng-if="dojo.defense.length > 0"
        ng-click="onClickDojoLink(dojo)" class="btn dojo-link"
        href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fprofile%2Fshow%2F{{ dojo.id }}"
        target="_blank" id="id{{ dojo.id }}"><span class="detail">{{$index + 1}}. {{ dojo.lv }} {{ RANK[dojo.rank] }} {{ dojo.leader }}</span><span class="defense">{{ dojo.defense }}</span></a>
      <a ng-if="dojo.defense == null || dojo.defense.length <= 0"
        ng-click="onClickDojoLink(dojo)" class="btn dojo-link"
        href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fprofile%2Fshow%2F{{ dojo.id }}"
        target="_blank" id="id{{ dojo.id }}">{{$index + 1}}. {{ dojo.lv }} {{ RANK[dojo.rank] }} {{ dojo.leader }}</a>
      <button ng-click="onClickHideDojo(dojo)" type="button" class="btn hide-dojo"><i class="fa fa-remove"></i></button>
    </div>
  </section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42938817-1', 'saasan.github.io');
    ga('send', 'pageview');

    var i = document.getElementsByClassName('adsbygoogle').length;
    while (i-- > 0) {
      (adsbygoogle = window.adsbygoogle || []).push({});
    }
  </script>
</body>
</html>
